<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et purus odio. Donec scelerisque tempus fermentum. Quisque at enim vitae est euismod mattis eget vitae metus. Curabitur sit amet interdum ligula. Donec in nulla pellentesque velit ullamcorper consequat sed sed eros. Proin blandit neque leo. In pellentesque est in lacus rhoncus, in interdum magna interdum. In non gravida ex. Aliquam vel eros sapien. Vestibulum maximus dolor eget elit congue malesuada. Maecenas id turpis quis augue rutrum finibus rutrum vel est. Quisque dictum eget turpis in sollicitudin. Donec quis magna et tellus cursus ultricies. Fusce ullamcorper sollicitudin condimentum. Praesent convallis ante eget convallis rutrum.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>